<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Services - Sell2Florida</title>
</head>

<body>
<div class = "banner">
  <div class="container">
    <h1>Our Services</h1>

    <div class="service">
      <h2>Home Selling Assistance</h2>
      <p>Sit back, relax, and let our experienced team work their magic in selling your home. We'll handle everything
        from market analysis to staging, marketing, and negotiations, ensuring you get the best possible price.</p>
    </div>

    <div class="service">
      <h2>Property Search</h2>
      <p>Searching for your dream home in Florida? We've got you covered! Our dedicated team will comb through listings,
        personally visit, and provide you with all the juicy details. Consider us your personal
        detectives, finding the hidden gems that fit your criteria. Leave the house hunting to us, and you can focus on
        dreaming of beachside bliss. </p>
    </div>

    <div class="service">
      <h2>Northeast to Florida Relocation</h2>
      <p>Escape the cold and embark on your Floridian adventure with ease! We specialize in making your Northeast to
        Florida relocation a breeze. From selling your current home to finding the perfect oasis in Florida, we've got
        your back. We'll handle the logistics while you start practicing your "sunshine state of mind" dance moves.</p>
    </div>

    <div class="service">
      <h2>Market Analysis</h2>
      <p>Our team stays up-to-date with the Florida real estate market. We'll provide you with a comprehensive market
        analysis, helping you make informed decisions about buying or selling property in Florida.</p>
    </div>

  <div class="service">
    <h2>At SelltoFlorida</h2>
    <p>We take your downsizing and Florida dreams seriously. But don't worry, we're serious about
      having fun too! So, let's embark on this exciting journey together – because life is too short not to make it a
      memorable adventure! </p>
  </div>
</div>
</div>
</body>

</html>